
.container{
	
	display:flex;
	flex-wrap:wrap;
	justify-content:center;

	
}
.box{
	padding:10px;
	opacity:0.8;
	
}
.box:hover{
	opacity:1;
	transition:0.9s;
	
}
img{
	width:250px;
	height:200px;
}
h1{
	text-align:center;
	
}