@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Pixelify+Sans:wght@400;600;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,500&display=swap');


*{
	font-family:Poppins;
	box-sizing:border-box;
	margin:0;
	padding:0;
}
header{
	
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:15px 10px;
	background-color:#9AA7A7;
}
.logo{
	cursor:pointer;
	color:white;
	font-weight:500;
}
.navlink{
	list-style:none;
	display:flex;
	
}
.navlink li{
	padding:0 20px;
}
.navlink li a{
	color:white;
	text-decoration:none;
	transition:0.5s;
	}
.navlink li a:hover{
	color:blue;
}	
button{
	padding:9px 25px;
	background:rgba(0,136,169,1);
	border:none;
	color:white;
	border-radius:50px;
	cursor:pointer;
	transition:0.5s;
	
	
}
botton:hover{
	background:rgba(0,136,169,0.5);
	

}